.produitLess {
    width: 40%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

main img {
    margin: 0 auto;
    border-radius: 10px;
}


.tag {
    font-weight: bold;
    text-decoration: underline;
}

main section {
    margin: 10px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main article {
    margin: 10px;
    flex-grow: 0;
    min-width: 400px;
}

.produitLess img:first-child {
    width: 100%;
}

.produitMore {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.produitMore img:first-child {
    object-fit: cover;
    width: 80%;
    height: 300px;
}

.produitMore img:not(:first-child) {
    margin: 15px;
}

@media screen and (max-width: 480px) {
    main article {
        margin: 10px auto;
        width: 100%;
        min-width: 200px;
    }
    main section {
        margin: 10px auto;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (max-width: 850px) {
    .produitMore img:first-child {
        display: none;
    }
}
